<!DOCTYPE html>
<html>
<title>spl-it</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css')}}">
<body>

    <div class="w3-container w3-display-middle">
        <div class="w3-card-4">
            <div class="w3-container w3-teal">
                <h2>Input Form</h2>
            </div>

            <form class="w3-container" method="POST" action="/processing">
                <div class="w3-container w3-half">
                    <label class="w3-text">People</label>
                    <input class="w3-input" name="people" type="text" style="width:135px" value="{{num_people}}">
                    <br>
                    <label class="w3-text">Items</label>
                    <input class="w3-input" name="items" type="text" style="width:135px" value="{{num_items}}">
                </div>
                <table class="w3-table">
                    <th>
                        People
                    </th>
                    {% for i in items %}
                        <th>
                            <input class="w3-input" name="item{{i}}" type="text" style="width:135px" placeholder="Item {{i}}">
                            <input class="w3-input" name="item{{i}}-rate" type="text" style="width:135px" placeholder="Rate">
                        </th>
                    {% endfor %}
                    <th>
                        <bold>Amount Paid</bold>
                    </th>


                    {% for p in people %}
                        <tr>
                            <td>
                                <input class="w3-input" name="person{{p}}" type="text" style="width:135px" placeholder="Person {{p}}">
                            </td>
                                {% for i in items %}
                                    <td>
                                        <input class="w3-input" name="person{{p}}-item{{i}}" type="text" style="width:135px" placeholder="Item {{i}}">
                                    </td>
                                {% endfor %}
                                <td>
                                    <input class="w3-input" name="person{{p}}-paid" type="text" style="width:135px" placeholder="Amount Paid">
                                </td>
                        </tr>
                    {% endfor %}


                </table>

                <center><button class="w3-btn w3-teal w3-margin">Next</button></center>

            </form>

        </div>
    </div>

</body>
</html>
